#showcase {
    position: relative;
    min-height: 450px;
    color: #fff;
    text-align: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  

.dotClass
{
    text-align: center;
}

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .mySlides
  {
    display: inline;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/* Add a card effect for articles */
.card {
    background-color: #333;
    padding: 5px;
    margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
